@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100;300;400;500;700&display=swap");

* {
	font-family: "Roboto";
}

.container {
	width: 70%;
	margin: auto;
	text-align: center;
}

.dice {
	text-align: center;
	display: inline-block;
}

body {
	background-color: #1e2022;
}

h1 {
	margin: 30px;
	text-shadow: 5px 0 #232931;
	font-size: 4.2rem;
	flex-wrap: nowrap;
	color: #e1e4e6;
}

p {
	font-size: 1.7rem;
	color: #4ecca3;
}

img {
	width: 60%;
}

footer {
	margin-top: 5%;
	color: #f0f5f9;
	text-align: center;
}

.confetti {
	position: absolute;
	right: 0;
	left: 40rem;
	height: 20rem;
	width: 20rem;
}
