@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100;300;400;500;700&display=swap");

* {
	font-family: "Roboto";
}

.container {
	width: 70%;
	margin: auto;
	text-align: center;
}

.dice {
	text-align: center;
	display: inline-block;
}

body {
	background-color: #1e2022;
}

h1 {
	margin: 30px;
	text-shadow: 5px 0 #232931;
	font-size: 3.5rem;
	flex-wrap: nowrap;
	color: #e1e4e6;
}

p {
	font-size: 1.7rem;
	color: #e7d1bb;
	font-weight: bold;
}

img {
	width: 30%;
}

footer {
	color: #f0f5f9;
	text-align: center;
}

.confetti {
	position: absolute;
	right: 0;
	left: 40rem;
	height: 20rem;
	width: 20rem;
}

.below > p {
	margin-top: 3em;
	margin-bottom: 3em;
	font-size: 1.2rem;
}

.below > p > a {
	text-align: center;
	margin-left: 5pt;
	text-decoration: none;
	color: #3f7a8d;
	transition: all 0.3s;
}

.below > p > a:hover {
	color: #019b98;
}
